html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1.custom-h1 {
    font-family: "Montserrat";
    font-size: 96px;
    font-weight: 400;
    color: #FFEFE8;
    text-align: left;
    margin-right: 110px;
  }
  
  .row {
    display: flex;
    position: relative;
  }

  .container {
    flex: 1;
  }

  .column-1, .column-2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column-1 {
    flex: 1;
  }

  .column-2 {
    flex: 2;
    height: 100%;
    justify-content: center;
  }

  .welcome {
    display: flex;
    flex-direction: column;
  }

  .inputs {
    margin-bottom: 15px;
  }
