
.container {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    margin-top: 150px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 9px;
    width: 100%;
    margin-top: 40px;
}

.text {
    font-family: 'Montserrat';
    font-weight: 200;
    color: #092635;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    height: 20px;
    width: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 500px;
    height: 80px;
    background-color: #FFEFE8;
    border-radius: 6px;
    font-family: 'Roboto';
    margin-left: 10px;
}

.input input {
    flex: 1;
    height: 50px;
    width: 500px;
    background: transparent;
    border: none;
    outline: none;
    color: #092635;
    font-size: 19px;
    /* margin-left: 20px; */
}

/* .forgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
} */

.forgot-password span {
    color: #092635;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
    align-items: center;
}

.flex-row {
    flex-direction: row;
    flex: 1;
}

