.header {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 100%;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-bottom: 0;
}

.container-dashboard {
  margin-top: 40px;
}

.sub-text {
  margin-top: 30px;
}

.text-container,
.gift-container {
  border-radius: 10px;
  background-color: white;
  margin-top: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift-container {
  height: 120px;
}
