body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Montserrat'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5EEE6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subtitle {
  margin-bottom: 52px;
}

.title {
  margin-bottom: 16px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 60px;
  color: black;
}

.login-landing {
  right: inherit;
  margin-right: auto;
  position: absolute;
}

/* .button-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 24px;
}

.accout-text {
  padding-bottom: 4px;
}

.create-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
